{% extends 'core/base.html' %}

{% block title %}
  Agendar Cita
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="col-md-6">
        <h1 class="text-center">Agendar Cita</h1>
        <section>
          <form method="post">
            {% csrf_token %}
            <br />
            <div class="form-group">{{ form.medic.label_tag }}
              {{ form.medic }}</div>
            <br />
            <div class="form-group">{{ form.patient.label_tag }}
              {{ form.patient }}</div>
            <br />
            <div class="form-group">{{ form.date.label_tag }}
              {{ form.date }}</div>
            <br />
            <div class="form-group">{{ form.symptoms.label_tag }}
              {{ form.symptoms }}</div>
            <br />
            <div class="form-group">
              {{ form.medicines.label_tag }}
              <div class="horizontal-checkboxes">
                {% for checkbox in form.medicines %}
                  <div class="form-check form-check-inline">
                    {{ checkbox }}
                    <label for="{{ checkbox.id_for_label }}" class="form-check-label">{{ checkbox.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
            <br />
            <div class="form-group">{{ form.total_price.label_tag }}
              {{ form.total_price }}</div>
            <br />
            <button type="submit" class="btn btn-primary">Agendar Cita</button>
          </form>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
