{% extends 'core/base.html' %}

{% block title %}
  Pacientes
{% endblock %}

{% block content %}
  <h1>Pacientes</h1>
  <br>
  <a href="{% url 'agregar_paciente' %}" class="btn btn-primary" title="Nuevo Paciente"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
    <path d="M16 19h6"></path>
    <path d="M19 16v6"></path>
    <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
 </svg> Agregar Paciente</a>
  <br>
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
  {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
  {% endif %}
  {% if user_patients %}
    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Medico Registrado</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Genero</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Alergias</th>
            <th scope="col">Sintomas</th>
            <th scope="col">Codigo Postal</th>
            <th scope="col">Direccion</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de Registro</th>
            <th scope="col">Fecha de Edicion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in user_patients %}
            <tr>
              <th scope="row">{{ patient.id_patient }}</th>
              <td>{{ user.name }} {{ user.last_name }}</td>
              <td>{{ patient.patient_name }} {{ patient.patient_last_name }}</td>
              <td>{{ patient.patient_age }}</td>
              <td>{{ patient.gender }}</td>
              <td>{{ patient.cell_number }}</td>
              <td>{{ patient.email }}</td>
              <td>{{ patient.allergies }}</td>
              <td>{{ patient.symptoms }}</td>
              <td>{{ patient.postal_code }}</td>
              <td>{{ patient.street_address }}</td>
              <td>{{ patient.city }}</td>
              <td>{{ patient.state }}</td>
              <td>{{ patient.created }}</td>
              <td>{{ patient.updated }}</td>
              <td>
                <a href="{% url 'edit_patient' patient.id_patient %}" title="Editar" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-edit" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                  <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5" />
                  <path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z" />
                </svg></a>
                <a href="{% url 'confirm_delete_patient' patient.id_patient %}" title="Eliminar" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash-x" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M4 7h16" />
                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                  <path d="M10 12l4 4m0 -4l-4 4" />
                </svg></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% else %}
  <br>
    <div class="alert alert-primary">Agrega pacientes para poder visualizarlos en tus registros.</div>
  {% endif %}
{% endblock %}
